body{
    margin: 0;
}

.mt{
    margin-top: 10px;
}

.card_width{
    width:300px ;
    height:200px;

}

.item{
    
    display: flex;
    justify-content:space-between ;

}

.item_name{
    color: chartreuse;
}